Pillow
PyWavelets
cycler
decorator
dlib
imageio
imutils
joblib
kiwisolver
matplotlib
networkx
numpy
opencv-python
pyfacy
pyfacy-dlib-models
pyparsing
python-dateutil
scikit-image
scikit-learn
scipy
sklearn